<!-- member-view -->
<div ng-controller="MemberController">

  <form name="memberForm" ng-click="clearValidationErrors()" novalidate>

    <!-- display-mode -->
    <div ng-show="!edit && member.id" ng-click="doedit()" class="label">
      <h3>{{member.name}}</h3>
    </div>

    <!-- edit-mode -->
    <div ng-show="edit || !member.id">
      <div>
        <label ng-show="memberForm.name.serverError" class="validationError">{{memberForm.name.serverError}}</label>
        <input type="text" name="name" ng-model="member.name" class="input" required/>
      </div>
    </div>

    <div class="divider"></div>

    <!-- buttons -->
    <div ng-hide="memberForm.name.serverError">
      <button ng-show="!edit && member.id" class="btn btn-danger"
              ng-click="delete()">Delete
      </button>
      <button ng-show="edit || !member.id" class="btn btn-success"
              ng-click="submit()">Save
      </button>
      <button ng-show="edit" class="btn btn-warning" ng-click="reset()">
        Cancel
      </button>
    </div>
  </form>
</div>