<!-- members-view -->
<div class="span9 hero-unit" ng-controller="MembersController">

  <table class="header">
    <tr>
      <td><h2>Angelas Members</h2></td>
      <td class="memberfilter">Filter: <input ng-model="memberfilter" class="input"></td>
    </tr>
  </table>

  <br/>

  <ul class="thumbnails">

    <!-- existing members -->
    <li ng-repeat="member in members | filter:memberfilter" ng-include
        src="'app/members/member/member.tpl.html'" class="card"></li>

    <!-- card for new member -->
    <li ng-include src="'app/members/member/member.tpl.html'" class="card"></li>
  </ul>
</div>
