<!-- members-view -->
<div class="span9 hero-unit">

  <h2>Angelas Members</h2><br/>

  <ul class="thumbnails">

    <!-- include members -->
    <li ng-repeat="member in members" ng-include src="'partials/member.html'" class="card"></li>

    <!-- new member -->
    <li class="card">
      <div>
        <form name="addMemberForm" ng-click="clearValidationErrors()">
          <label ng-show="addMemberForm.name.serverError"
                 class="validationError">{{addMemberForm.name.serverError}}</label>
          <input type="text" name="name" ng-model="newMember.name" class="input"/>
        </form>
      </div>

      <div class="divider"></div>

      <!-- button -->
      <div>
        <button class="btn btn-success" ng-click="add(newMember)">Save</button>
      </div>
    </li>
  </ul>
</div>
