<!-- members-view -->
<div class="span9 hero-unit">

  <table class="header">
    <tr>
      <td><h2>Angelas Members</h2></td>
      <td class="memberfilter">Filter: <input ng-model="memberfilter" class="input"></td>
    </tr>
  </table>

  <br/>

  <ul class="thumbnails">

    <!-- existing members -->
    <li ng-repeat="member in members | filter:memberfilter" ng-include src="'partials/member.html'" class="card"></li>

    <!-- card for new member -->
    <li ng-include src="'partials/member.html'" class="card"></li>
  </ul>
</div>
