<!-- member-view -->
<div class="span9 hero-unit" ng-controller="MembersController">

  <h2 i18n="page.restfulMembers.heading">Angelas Members</h2><br/>

  <table class="table table-hover">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>

    <!-- members -->
    <tr ng-repeat="member in members" ng-controller="MemberController">

      <td>{{member.id}}</td>

      <td>
        <!-- display-mode -->
        <div ng-hide="edit[member.id]" ng-click="edit(member)">{{member.name}}</div>

        <!-- edit-mode -->
        <div ng-hide="!edit[member.id]">
          <form name="editMemberForm" ng-click="clearValidationErrors()">
            <label ng-show="editMemberForm.name.serverError"
                   class="validationError">{{editMemberForm.name.serverError}}</label>
            <input type="text" name="name" ng-model="member.name"/>
            <button class="btn btn-success" ng-click="submit(member)">Save</button>
            <button class="btn btn-danger" ng-click="reset(member)">Cancel</button>
          </form>
        </div>
      </td>

      <td>
        <button class="btn btn-danger" ng-click="delete(member)">Delete</button>
      </td>
    </tr>

    <!-- new member -->
    <tr>
      <td/>
      <td>
        <form name="addMemberForm" ng-click="clearValidationErrors()">
          <label ng-show="addMemberForm.name.serverError"
                 class="validationError">{{addMemberForm.name.serverError}}</label>
          <input type="text" name="name" ng-model="newMember.name"/>
        </form>
      </td>
      <td>
        <button class="btn btn-success" ng-click="add(newMember)">Save</button>
      </td>
    </tr>
  </table>
</div>
